.App {
  padding-top: 36px;
  text-align: center;
}
/*
agregamos el stylo a la clase del buscador, que como esta dentro
de un div hereda al componente
*/
.searchForm-wrapper {
  display: flex;
  justify-content: center;
}

.miForm {
  background-color: rgb(218, 28, 28);
  display: block;
}
/*
display flex indica el tipo de caja que envuelve al elemento
flex-wrap: indica que puede ir el elemento en varias lineas
*/
.MovieList {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 16px;

}
.MovieList-item {
 margin-bottom: 24px;
 width: 47%;
}

.image img {
display: block; 
 height: auto; 
  width: 50%;
}